<div class="container">
  <br />
  <h2 class="text-center">Image à coté de texte</h2>
  <div class="row small">
    <div class="col-md-6">
      <img src="../../images/float.png" alt="" />
    </div>
    <div class="col-md-6">
      <p>On utilise pour l'image l'attribut <code>float</code></p>
      <ol >
        <li><code>float: left;</code></li>
        <li><code>float: right;</code></li>
      </ol>
      <p>
          Il faut aussi stopper leffet du flottement avec :
          <ol >
            <li><code>clear: &lt;left | right | both&gt;;</code></li> 
          </ol>
      </p>
      <p>Sinon, l'effet continue sur le reste du contenu de la page.</p>
    </div>
  </div><br>
  <p class="small">La technique du flottement a longtemps été utilisée pour 
      réaliser les dispositions (layouts) des pages web. <br>
      Ca sera l'objet du slide suivant.
  </p>
</div>
