<div class="container">
  <br />
  <h2>Création d'un layout se basant sur <code>float</code></h2>
  <p>
    Dans ce layout, une ligne pouura accueillir jusqu'à 12 colonnes. Mais aussi,
    on pourra faire des combinaisons en fusionnant des colonnes, ex. (4, 4, 4) ,
    (6, 6), (3, 6, 3) etc.
  </p>
  <p>Une ligne aura pour classe CSS <code>.row</code></p>
  <p>
    Une colonne (cellule) aura pour classe CSS <code>.col-x</code> ou
    <mark>x</mark> peut avoir une valeur de <mark>1</mark> à <mark>12</mark> à
    condition que le total soit égal à <mark>12</mark>
  </p>
  <p></p>
</div>
