<div class="container small">
  <h3>Disposition par la technique du flottement</h3>

  <div class="row">
    <div class="col-md-5 ">
      <br />
      <div class="text-center">
        <img src="images/layout-float.png" class="img-fluid " />
      </div>
      <br />
      <div class="text-center"><kbd>CSS</kbd></div>
      <p class="text-center">Celui du slide précédent.</p>
      <br /><br /><br /><br />
    </div>
    <div class="col-md-7">
      <div class="text-center"><kbd>HTML</kbd></div>
      <textarea class="myCode">
<div id="container">
  <div class="row">
    <div class="col-12">
      <div id="header">HEADER</div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div id="sidebar">SIDEBAR</div>
    </div>
    <div class="col-8">
      <div id="content">CONTENT</div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="footer">FOOTER</div>
    </div>
  </div>
</div></textarea
      >
    </div>
  </div>
</div>
