<div class="container">
  <h2>Modèle Flexbox</h2>
  <p>
    Ce modèle se veut flexible et s'adapte à tous les types d'écritures (arabes,
    latines, orientales, ect).
  </p>
  <p>
    Il n'y a donc pas de notions de gauche, de droite ni de haut et de bas. On
    utilise plutôt la notion de direction principale (<mark>Main Axis</mark>) et
    secondaire (<mark>Cross Axis</mark>).
  </p>
  <img
    src="images/flexbox-model.png"
    alt="flexbox model"
    class="img-fluid"
  />
  <p>
    La direction principale (<mark>Main Axis</mark>) est choisie et peut être
    soit horizontale ou verticale. La direction secondaire (<mark
      >Cross Axis</mark
    >) est toujours perpondiculaire à la première.
  </p>
</div>
