<div class="container small">
  <h2>Modèle Flexbox</h2>
  <p>
    Pour mettre en oeuvre le modèle <mark>Flexbox</mark>, ajouter au
    <mark>conteneur </mark> l'attribut 
    <ul class="list-group">
      <li class="list-group-item"><code>display: flex;</code></li>
    </ul>
  </p>
  <h4>Choix de la direction</h4>
  <p>
    Il faut noter que la direction principale dépend de l'attribut
    <code>dir</code> qui peut prendre les valeurs <code>ltr</code> (left to
    right) ou <code>rtl</code> (right to left).
  </p>
  <p>Ajouter au <mark>conteneur </mark> l'un des attributs suivant :
    <ul class="list-group">
      <li class="list-group-item"><code>flex-direction: row; </code>
        <span class="text-muted"> /* En ligne. Valeur par défaut */</span></li>
      <li class="list-group-item"><code>flex-direction: row-reverse; </code>
        <span class="text-muted"> /* Inverse la direction */</span></li>
      <li class="list-group-item"><code>flex-direction: column; </code>
        <span class="text-muted"> /* En colonne */</span></li>
      <li class="list-group-item"><code>flex-direction: column-reverse; </code>
        <span class="text-muted"> /* Inverse la direction */</span></li>
    </ul>
    
  </p>
</div>
