<div class="container small">
  <h2>Gérer les débordement sur l'axe principal</h2>
  <p>
    Par défaut, les <mark>éléments</mark> sont alignés le long de l'axe
    principal. Les éléments peuvent dépasser la largeur du
    <mark>conteneur</mark>.
  </p>
  <p>
    Pour permettre aux <mark>éléments</mark> de s'afficher sur plusieurs lignes,
    on utilise l'attribut <code>flex-wrap</code>. Sa valeur par défaut est
    <code>nowrap</code> 
    <ul class="list-group">
        <li class="list-group-item"><code>flex-wrap: wrap;</code>
            <span class="text-muted"> /* Permet le renvoie à la ligne. */</span></li>
    </ul>
    
  </p>
  <h2>Gérer l'ordre des <mark>éléments</mark></h2>
  <p>
    On utilise pour l'<mark>élément</mark> l'attribut <code>order</code>.
    Celui-ci vaut par défaut <code>0</code> pour tous les éléments
  </p>
  Si on applique au premier élément de la liste <code>order: 1;</code>, celui-ci
  apparaîttra en fin de liste.
</div>
