<div class="container small">
  <h3>Gérer l'alignement sur l'<mark></mark>axe principal</mark> (Main Axis)</h3>
  <p>
    L'alignement sur l'<mark>axe principal</mark> est géré en appliquant
    au <mark>conteneur</mark> l'attribut : 
    <ul class="list-group">
        <li class="list-group-item"><code>justufy-content: flex-start;</code> 
            <span class="text-muted"> /* Valeur par défaut */</span></li>
    </ul>
     
  </p>
  <p>
      Cet attribut peut prendre les valeurs suivantes :
      <ul class="list-group">
          <li class="list-group-item"><code>flex-start</code></li>
          <li class="list-group-item"><code>flex-end</code></li>
          <li class="list-group-item"><code>center</code></li>
          <li class="list-group-item"><code>space-around</code></li>
          <li class="list-group-item"><code>space-between</code></li>
          <li class="list-group-item"><code>space-evenly</code></li>
      </ul>
  </p>
</div>
