<div class="container small">
    <h3>Gérer l'alignement sur l'<mark>axe secondaire</mark> (Cross Axis)</h3>
    <p>
      L'alignement sur l'<mark>axe secondaire</mark> est géré en appliquant
      au <mark>conteneur</mark> l'attribut : <br>
       <code>align-items: stretch;</code> 
       <span class="text-muted">(Etendre) Valeur par défaut</span>.
    </p>
    <p>
        Cet attribut peut prendre les valeurs suivantes :
        <ul class="list-group">
            <li class="list-group-item"><code>stretch</code>
            <span class="text-muted"> /* Etendu le long de l'axe secondaire */</span>
            </li>
            <li class="list-group-item"><code>flex-start</code>
                <span class="text-muted"> /* Début de l'espace */</span>
            
            </li>
            <li class="list-group-item"><code>center</code>
                <span class="text-muted"> /* ! */</span>
            
            </li>
            <li class="list-group-item"><code>flex-end</code>
                <span class="text-muted"> /* Fin de l'espace */</span>
            
            </li>
            <li class="list-group-item"><code>baseline</code>
                <span class="text-muted"> /* Se base sur le texte pour l'alignement */</span>
            
            </li>
            
        </ul>
    </p>
    <p>On peut également changer ce comportement à un <mark>élément</mark>
    particulier en lui appliquant l'attribut <code>align-self</code> 
    avec l'une des valeurs précédentes.</p>
  </div>
  