<div class="container">
  <p>
    Le positionnement se fait par rapport au document. Le repère est lié au 
    document, mais la position par défaut de l'élément est determinée par 
    celle du parent.
  </p>
  <p>
    Si le parent est en positionnement non <mark>static</mark>, à ce moment le
    repère est lié au parent.
  </p>
  <h4>Axe de profondeur</h4>
  <p>
    Quand les boites se superposent, on régler leur position en profondeur en
    utilisant l'attribut css <code>z-index</code> (nombre entier) <br>
    <ul class="list-group">
        <li class="list-group-item"><code>z-index: 1000;</code>
        
        </li>
    </ul>
    <span class="text-muted small"> positionne l'élément par raport
        à ses frères en position non <mark>static</mark> </span>
  </p>
</div>
