<div class="container">
  <h3>Positionnement relatif</h3>
  <p>
    Dans lee positionnement relatif (<mark>relative</mark>), le repère est
    déterminé par la position calculée de l'élément en mode
    <mark>static</mark>.
  </p>
  <p>
    Dans l'exemple, les trois éléments <mark>.box1</mark>, <mark>.box2</mark> et
    <mark>.box3</mark> apparaissent normalement dans le flux de la page. Car,
    nous n'avons pas encore donné les positions.
  </p>
  <p>
    Le fait de les mettre en position <mark>relative</mark>, nous permet de les
    déplacer par rapport à leurs prositions actuelles.
  </p>
</div>
