<div class="container">
  <h3>Positionnement avec <mark>sticky</mark></h3>
  <p>
    Ce mode est utile lorsque le contenu est plus grand que la surface affichée.
  </p>
  <p>
    Les données de la page sont associées à un sujet affiché en haut de
    celles-ci. L'utilisation de la valeur <code>sticky</code> permet de fixer
    les titres du sujeu lors du défilement de la page.
  </p>
  <p>
    Dans notre exemple, nous fixons la ligne des balises <code>th</code> du
    tableau, jusqu'à ce qu'une autre ligne contenant des <code>th</code>
    la remplace.
  </p>
</div>
