<div class="container">
  <h1 class="text-center">Généralités sur les dispositions</h1>
  <br />
  <div class="row">
    <div class="col-md-4">
      <img src="images/layout.png" class="img-fluid" />
    </div>
    <div class="col-md-8">
      <p>
        Plusieurs dispositions sont nécéssaires pour réaliser une implémentation
        correcte : <br />
      </p>
      <ol>
        <li>Juxtaposition de blocs horizontalement</li>
        <br />
        <li>Disposer le texte autour d'une image</li>
        <br />
        <li>Juxtaposition de blocs verticalement</li>
        <br />
        <li>Centrer un bloc horizontalement et verticalement</li>
        <br />
        <li>Flux de texte sur plusieurs colonnes</li>
      </ol>
    </div>
  </div>
</div>
