body {
  margin: 0;
  margin-top: 90px;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 1.2em;
  text-align: center;
  height: 90px;
}
.content {
  font-size: 1.4em;
  padding: 12px;
  text-align: justify;
}
