table .head th {
  background-color: #aaf;
  position: sticky;
  top: 4px;
}

table td,
table th {
  border: 1px solid gray;
  padding: 16px 24px;
  font-size: 1.3em;
}

table {
  width: 100%;
  border-spacing: 8px 12px;
  border-collapse: separate;
}
