<div class="container">
  <h1 class="text-center">P l a n</h1>
  <ul class="list-group-flush">
    <li class="list-group-item"></li>
    <li class="list-group-item">
      Généralités sur les dipositions
      <small class="text-muted">
        (Les boites, leurs imbrications et juxtapositions)</small
      >
    </li>
    <li class="list-group-item">
      Disposition de texte en colonnes
      <small class="text-muted"> (Un peu comme dans les journaux)</small>
    </li>
    <li class="list-group-item">
      Disposition d'image avec du texte
      <small class="text-muted"> (Mettre le texte en face d'une image)</small>
    </li>
    <li class="list-group-item">
      Mise en page
      <small class="text-muted">
        (Comment créer des modèles d'affichage des pages Web)</small
      >
      <br />
      <ul class="list-group-flush small">
        <li class="list-group-item"></li>
        <li class="list-group-item">
          Le flottement
          <small class="text-muted">
            (Hack - Technique empreintée du flottement d'images)</small
          >
        </li>
        <li class="list-group-item">
          Le modèle Flexbox
          <small class="text-muted">
            (Dispostion actuellement utilisée dans les nouveaux designs)</small
          >
        </li>
        <li class="list-group-item">
          Le positionnement
          <small class="text-muted">
            (Positionner de manière précise vos boites ! et gérer leurs
            recouvrements)</small
          >
        </li>
        <li class="list-group-item"></li>
      </ul>
    </li>
  </ul>
</div>
