<div class="m-cols">
  <h2>Article lorem</h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Adipisci vero
    earum nemo odit doloribus harum animi necessitatibus error consequatur
    consequuntur sint, aliquid iure molestiae ipsum. Libero commodi assumenda
    accusamus quas laboriosam? Sapiente ducimus iusto officia quod suscipit
    cumque quaerat? 
  </p>
  <h4>Tara placet yako</h4>
  <p>
    Quo in alias a, placeat aliquid ut, id unde culpa explicabo
    vero laboriosam veritatis animi hic consequatur, inventore eius? Dignissimos
    officia nostrum aperiam molestiae 
    <ol>
        <li>Yan</li>
        <li>Sine</li>
    </ol>  labore necessitatibus, eveniet officiis
    facilis.
    <h4>Mola dial daro</h4>
    dolorum eius facere recusandae dolore amet sed ex id velit pariatur
    ipsam, quam doloribus quis, natus iusto. Nisi aperiam atque dolores
    perspiciatis, sit repellendus harum, at hic blanditiis quaerat fugiat quam
    quod!
  </p>
</div>
