<div class="container">
  <img src="../../images/img.png" style="width: 180px" />
  <h2>Titre Lorem</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus velit
    non est. Ut unde commodi, voluptate doloremque sapiente provident facere in
    amet beatae illum. Non esse odit provident vel fugit, sequi enim quod
    incidunt dolorum dolores? . Ut unde commodi, voluptate doloremque sapiente !
  </p>
</div>
<div class="extra">
  <h2>Extra Lorem</h2>
  <p>
    Amet est velit odio quis blanditiis vero itaque. Quo incidunt officiis
    exercitationem! Neque cumque provident animi illum distinctio porro eligendi
    reiciendis quam nostrum autem.
  </p>
  <p>
    Ipsam repellat laboriosam ut sed fugiat alias maiores dolores cumque
    possimus totam?
  </p>
</div>
