<div class="container">
    <h1>Positionnement</h1>
    <div class="row">
        <div class="col-md-6">
            <p>
            La technique du positionnement en <mark>CSS</mark> utilise 
            l'attribut <code>position</code>. Celui-ci peut avoir l'une
            des quatre valeurs suivantes :
            <ul class="list-group">
                <li class="list-group-item">
                    <code>position: static; </code>
                    <span class="text-muted"> /* Valeur par défaut */</span>
                </li>
                <li class="list-group-item">
                    <code>position: absolute; </code>
                    <span class="text-muted"> /* ! */</span>
                </li>
                <li class="list-group-item">
                    <code>position: relative; </code>
                    <span class="text-muted"> /* ! */</span>
                </li>
                <li class="list-group-item">
                    <code>position: fixed; </code>
                    <span class="text-muted"> /* ! */</span>
                </li>
                <li class="list-group-item">
                    <code>position: sticky; </code>
                    <span class="text-muted"> /* ! */</span>
                </li>
            </ul>
        </p>
        <p>Les repères de positionnement peuvent être combinés
            pour obtenir l'effet désiré.
        </p>
    </div>
        <div class="col-md-6">
            <img src="../../images//position.png" class="img-fluid"
             alt="CSS - Repères de positionnement.">
             
        </div>
    </div>
</div>