<div class="header">
  <h1>Mon titre</h1>
</div>
<div class="content">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
    voluptates accusamus, sit quisquam maiores perspiciatis, aliquam consectetur
    molestias natus, at pariatur possimus id quae!
  </p>
  <p>
    Reprehenderit facere a, doloribus consequuntur culpa eveniet similique nemo
    minima repellendus. Voluptates sit debitis, sequi repellat ad, recusandae
    odit eaque iste eum exercitationem consectetur!
  </p>
  <p>
    Porro corrupti aut saepe sint veritatis! Repudiandae, necessitatibus vel
    laudantium ut ipsum minima perferendis nostrum blanditiis molestiae sed,
    dolorem nemo atque quas eum quo.
  </p>
  <p>
    Id porro voluptatum quia, tempore asperiores exercitationem aspernatur odit
    sapiente illo velit a culpa beatae tenetur necessitatibus vitae minus. Fuga
    similique numquam quia doloribus.
  </p>
  <p>
    Repellendus voluptatum animi id! Quisquam consequatur suscipit nulla saepe
    ab nihil nisi? Est corrupti maiores molestiae facere officia ea distinctio
    unde sint quae inventore!
  </p>
</div>
